<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {{ form.csrf_token }}
{#        作者信息#}
        {{ form.author.label }}
        <p>{{ form.author }}</p>
        {% for msg in form.author.errors %}
        {{ msg }}
        {% endfor %}

        {{ form.book.label }}
        <p>{{ form.book }}</p>
        {% for msg in form.book.errors %}
        {{ msg }}
        {% endfor %}

        {{ form.submit }}
    </form>

    {% for msg in get_flashed_messages()%}
        {{ msg }}
    {% endfor %}

    <hr>
    <ul>
    {% for book_info in books_info %}
        <li>书籍: {{ book_info.book }}</li>
        <p>作者: {{ book_info.author }}</p>
        <p><a href="/delete/{{ book_info.book_id }}">删除{{ book_info.book }}</a></p>

    {% endfor %}
    </ul>

</body>
</html>